.NotFoundImg {
  width: 700px;
  height: 450px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-o2w69a-MuiTypography-root {
  text-align: center;
  color: #203fc7;
  font-weight: 700 !important;
}
.css-5lbw0b-MuiTypography-root {
  text-align: center;
  margin-top: 20px !important;
  font-weight: bolder !important;
  margin-bottom: 20px !important;
}
.css-10wpov9-MuiTypography-root {
  text-align: center;
  color: gray;
  font-size: 20px !important;
  margin-bottom: 20px !important;
}
.css-x2jhal-MuiButtonBase-root-MuiButton-root {
  background-color: #203fc7 !important;
  color: white !important;
  width: 180px;
  height: 45px;
  border-radius: 90px !important;
  -webkit-border-radius: 90px !important;
  -moz-border-radius: 90px !important;
  -ms-border-radius: 90px !important;
  -o-border-radius: 90px !important;
}
